{{#if inventory-data}}
{{#each inventory-data}}
<div class="row inventory-list list-item mt-3  mb-3 animated slideInUp align-items-center" data-distance="{{distance}}">
  <div class="col-sm-4 product-carousel">
    <div class="js-list-model-carousel">
      {{#each model-info}}
      <div>
        <p class="model-name mb-0 mt-4 font-bold">{{this.model-name}}</p>
        <p class="mb-0 model-price"><strong>{{model-price-formatted}} </strong>MSRP*</p>
        <img src="{{model-image}}" width="300" alt="{{alt-text}}" />
          <ul class="slick-controllers">
        {{!-- {{#each ../color-variants as |item indexes|}}
          {{#ifEquals @../index '0' }} --}}
          <li data-slide="0" ><div class="icon-blue"></div></li>
          <li data-slide="1" ><div class="icon-grey"></div></li>
          <li data-slide="2" ><div class="icon-silver"></div></li>
          {{!-- {{/ifEquals}}
          {{/each}} --}}
        </ul>
      </div>
      {{/each}}
      
    </div>
  </div>
  <div class="col-sm-4">
    <b>{{dealer-name}}</b>
    <span class="font-bold mt-2 d-block">Packages & Otions</span>
    <ul class="list-group">
      {{#each packages as |item index|}}
      <li class="list-group-item">{{item}}<i class="oi oi-info" aria-hidden="true"></i></li>
      {{/each}}
    </ul>
    <a class="btn pl-0" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">More details <i class="oi "></i></a>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn border-grey rounded-0 btn-block bg-dark text-white hidden-xs">Get a Quote</button>
    <button type="button" class="btn border-grey rounded-0 btn-block hidden-xs">Calculate Payments</button>
    <button type="button" class="btn border-grey rounded-0 btn-block hidden-xs">Chat with Dealer</button>
  </div>
  <div class="col-sm-12 pl-0 pr-0 ">
    <div class="collapse mb-3" id="collapseExample1">
      <div class="card card-body">
        {{detail-info}}
      </div>
    </div>
    <button type="button" class="btn border-grey rounded-0 btn-block bg-dark text-white visible-xs">Get a Quote</button>
  </div>
</div>
{{/each}}
{{else}}
  <p class="error-msg p-5">Sorry! No matches found with selected filters. Please change your filters.</p>
{{/if}}