{{#if inventory-data}}
{{#each inventory-data}}
<div class="row inventory-list list-item mt-3  mb-3 animated slideInUp align-items-center" data-distance="{{distance}}">
  <div class="col-sm-4 product-carousel">
    <div class="js-list-model-carousel">
      {{#each model-info}}
      <div>
        <p class="model-name pl-2 mb-0 mt-4 font-bold">{{this.model-name}}</p>
        <p class="model-price mb-0 pl-2"><strong>{{model-price-formatted}} </strong>MSRP*</p>
        <img src="{{model-image}}" width="250" alt="{{alt-text}}" />
          <ul class="slick-controllers p-0">
        {{!-- {{#each ../color-variants as |item indexes|}}
          {{#ifEquals @../index '0' }} --}}
          <li data-slide="0" ><div class="icon-blue active-controller"></div></li>
          <li data-slide="1" ><div class="icon-grey"></div></li>
          <li data-slide="2" ><div class="icon-silver"></div></li>
          {{!-- {{/ifEquals}}
          {{/each}} --}}
        </ul>
      </div>
      {{/each}}
      
    </div>
  </div>
  <div class="col-sm-4">
    <b class="d-block dealername">{{dealer-name}}</b>
    <span class="font-bold mt-3 d-block">Packages & Otions</span>
    <ul class="list-group">
      {{#each packages as |item index|}}
      <li class="list-group-item">{{item}}<i class="oi oi-info" aria-hidden="true"></i></li>
      {{/each}}
    </ul>
    <a class="btn pl-0" data-toggle="collapse" href="#collapseExample{{@index}}" role="button" aria-expanded="false" aria-controls="collapseExample1">More details <i class="oi "></i></a>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn border-grey rounded-0 btn-block bg-dark text-white hidden-xs">Get a Quote</button>
    <button type="button" class="btn border-grey rounded-0 btn-block hidden-xs">Calculate Payments</button>
    <button type="button" class="btn border-grey rounded-0 btn-block hidden-xs">Chat with Dealer</button>
  </div>
  <div class="col-sm-12 pl-0 pr-0 ">
    <div class="collapse mb-3" id="collapseExample{{@index}}">
      <div class="card card-body">
	    <div class="card-body-close" data-toggle="collapse" href="#collapseExample{{@index}}"></div>
		<div class="card-body-left">
		  <p class="card-body-title text-underline">{{detail-info.address-title}}</p>
		  <span class="address">{{{detail-info.address}}}</span>
		  <p class="vin">{{detail-info.vin}}</p>
		  <p class="card-body-title text-underline">{{detail-info.sticker-title}}</p>
		</div>
		<div class="card-body-right">
          <div class="color-section">
		    <div class="color-section-left">
		      <span class="card-body-title">Color</span>
			</div>
			<div class="color-section-right">
			  {{#each detail-info.color-variants as |item index|}}
		      <div><p class="{{item.color}}"></p><p>{{item.title}}</p></div>
			  {{/each}}
			</div>
		  </div>
		  <div class="powertrain-section">
		    <div class="powertrain-section-left">
		      <span class="card-body-title">Powertrain</span>
			</div>
			<div class="powertrain-section-right">
		      <span>{{detail-info.powertrain}}</span>
			</div>
		  </div>
		  <div class="packages-options-section">
		    <div class="packages-options-section-left">
		      <span class="card-body-title">Packages & Options</span>
			</div>
			<div class="packages-options-section-right">
		      {{#each detail-info.packages-options as |item index|}}
		      <p class="">{{item.package-name}}</p>
			  {{/each}}
			  <a href="{{detail-info.full-specs-url}}" class="full-specs-text text-underline">Full specs <span>></span></a>
			</div>
		  </div>
		</div>
      </div>
	</div>
    <button type="button" class="btn border-grey rounded-0 mb-3 ml-3 w-85 bg-dark text-white visible-xs">Get a Quote</button>
  </div>
</div>
{{/each}}
{{else}}
  <p class="error-msg p-5">Sorry! No matches found with selected filters. Please change your filters.</p>
{{/if}}